body {
  --color-text: #0f070a;
  --color-bg: #ff8a00;
  --color-bg-2: #c8305f;
  --color-link: #317bd0;
  --color-link-hover: #317bd0;
  background: radial-gradient(
    ellipse at 100% 0,
    #fed96f 0,
    var(--color-bg) 50%,
    var(--color-bg-2) 115%
  );

  color:#FDFFFC;
  color:#FDFFFC;
  color:#FDFFFC;
  color:#FDFFFC;
  color:#EA526F;
  color:#71b9f2;
  
  /* for night sky */
  background-image: linear-gradient(#000203 0%,#00345E 65%,#004D89 100%);
  /* for mango shade */
  /* background: radial-gradient(ellipse at 100% 0%, #fed96f 0%, var(--color-bg) 50%, var(--color-bg-2) 115%); */


}

