@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Righteous);

:root {
  --color-primary: #000;
  --color-primary2: rgba(0, 0, 0, 0.829);
  --color-primary-alt: #064663;
  --color-secondary: #F5F5F5;
  --color-secondary2: #0e131dee;
  --font-family-primary: "Sora", sans-serif;
  --font-family-secondary: "Inter", "Sora", sans-serif;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.125rem;
  --font-size-text: 1rem;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-text);
  color: var(--color-primary);
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-primary),
    var(--color-primary) 1px,
    var(--color-secondary2) 1px,
    var(--color-secondary2) 100%
  );
  background-size: 8px 8px;
  display: -ms-flexbox;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 85%; */
  /* height: 85vh; */
  border: 4px solid var(--color-primary);
  -webkit-box-shadow: 12px 12px 0 0 var(--color-primary);
  box-shadow: 12px 12px 0 0 var(--color-primary);
  padding: 6rem 2rem 3rem 2rem;
  position: relative;
  background: repeating-radial-gradient(
      var(--color-secondary),
      var(--color-secondary) 6px,
      var(--color-primary) 6px,
      var(--color-primary) 10px,
      transparent 0%,
      transparent 100%
    ),
    repeating-radial-gradient(
      var(--color-secondary),
      var(--color-secondary) 6px,
      var(--color-primary) 6px,
      var(--color-primary) 10px,
      transparent 0%,
      transparent 100%
    ),
    linear-gradient(
      var(--color-primary-alt),
      var(--color-primary-alt) 60px,
      var(--color-primary) 60px,
      var(--color-primary) 64px
    );
  background-color: var(--color-secondary);
  background-position: right 5px, right 30px top 5px, 0 0;
  background-size: 50px 50px, 50px 50px, 100% 64px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animated-text {
  /* background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-secondary) 25%,
    var(--color-primary2) 25%,
    var(--color-primary2) 50%,
    var(--color-secondary) 50%,
    var(--color-secondary) 75%,
    var(--color-primary2) 75%,
    var(--color-primary2) 100%
  );
  background-repeat: repeat;
  background-size: 10px 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
    color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: stripes 7s linear infinite;
  animation: stripes 7s linear infinite;
  font-size: 60px;
  height: 25%;
}
@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.hof-main {
  height: 100%;
}
.hof {
  display: inline-block;
  color: black;
  font-family: "Righteous", serif;
  font-size: 8em;
  z-index: 100;
  text-align: center;
}
.hof:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.03em;
  left: 0.03em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    black 45%,
    black 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
.version {
  position: absolute;
  top: 3vh;
  font-weight: 600;
  color: white;
}
.img-container {
  height: 80%;
  display: flex;
  justify-content: center;
  
}
.img-container img {
  height: 100%;
  max-height: 70vh;
}
.name-overlay{
  position: absolute;
  color: #ADA78E;
  top: 4%;
  font-family: "Righteous", serif;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 3%;
}